<div class="sidebar-content">
    <ul class="nav nav-secondary">
        <li class="nav-item active">
            <a data-bs-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
                <i class="fa fa-home"></i>
                <p>Dashboard</p>
                <span class="caret"></span>
            </a>
            <div class="collapse" id="dashboard">
                <ul class="nav nav-collapse">
                    <li>
                        <a href="/admin">
                            <span class="sub-item">Dashboard</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a data-bs-toggle="collapse" href="#base">
                <i class="fas fa-shoe-prints"></i>
                <p>Shoes</p>
                <span class="caret"></span>
            </a>
            <div class="collapse" id="base">
                <ul class="nav nav-collapse">
                    <li>
                        <a href="/admin/product-shoes/add-shoes">
                            <span class="sub-item">Add Shoes</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/product-shoes/list-shoes">
                            <span class="sub-item">List Shoes</span>
                        </a>
                    </li>

                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a data-bs-toggle="collapse" href="#users">
                <i class="fas fa-user"></i>
                <p>Users</p>
                <span class="caret"></span>
            </a>
            <div class="collapse" id="users">
                <ul class="nav nav-collapse">
                    <li>
                        <a href="/admin/users/add-user">
                            <span class="sub-item">Add User</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/users/list-user">
                            <span class="sub-item">List User</span>
                        </a>
                    </li>

                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a data-bs-toggle="collapse" href="#reviews">
                <i class="fas fa-quote-left"></i>
                <p>Testimonies</p>
                <span class="caret"></span>
            </a>
            <div class="collapse" id="reviews">
                <ul class="nav nav-collapse">
                    <li>
                        <a href="/admin/review-user/list-review">
                            <span class="sub-item">List Review</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>