<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    <!-- Bootstrap CSS -->
    <link href="/assets/user/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet"/>
    <link href="/assets/user/css/tiny-slider.css" rel="stylesheet"/>
    <link href="/assets/user/scss/style.css" rel="stylesheet"/>
</head>
<body>

{% block navbar %}
{% endblock %}

{% block page_hero %}
{% endblock %}

{% block product %}
{% endblock %}

{% block new_product %}
{% endblock %}

{% block trending_roduct %}
{% endblock %}

{% block why_choose %}
{% endblock %}

{% block we_help %}
{% endblock %}

{% block popular_product %}
{% endblock %}

{% block testimonial %}
{% endblock %}

{% block blog %}
{% endblock %}

{% block footer %}
{% endblock %}

<script src="/assets/user/js/bootstrap.bundle.min.js"></script>
<script src="/assets/user/js/tiny-slider.js"></script>
<script src="/assets/user/js/custom.js"></script>
</body>
</html>