<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1 class="mt-2">BRODO - Modern Local Shoes</h1>
                    <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam
                        vulputate velit imperdiet dolor tempor tristique.</p>
                    <p>
                        <a href="" class="btn btn-secondary me-2">Shop Now</a><a href="#"
                                                                                 class="btn btn-white-outline">Explore</a>
                    </p>
                </div>
                <div class="row text-white mt-5 fw-bold">
                    <div class="col-md-4">
                        <p>Lebih dari 50 Desain Unik</p>
                    </div>
                    <div class="col-md-4">
                        <p>Outlet kami tersebar di seluruh kota di Indonesia</p>
                    </div>
                    <div class="col-md-4">
                        <p>Kami memenangkan beberapa kejuaraan di dunia</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="/assets/user/images/shoes-1.png" class="img-fluid"/>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->
