{% extends '/layouts/user-master.html' %}

{% block navbar %}
    {% include '/partials/landing-page/navbar.html' %}
{% endblock %}

{% block page_hero %}
    {% include '/partials/landing-page/hero-section.html' %}
{% endblock %}

{% block product %}
    {% include '/partials/landing-page/product-section.html' %}
{% endblock %}

{% block new_product %}
    {% include '/partials/landing-page/new-product-section.html' %}
{% endblock %}

{% block trending_roduct %}
    {% include '/partials/landing-page/trending-product-section.html' %}
{% endblock %}

{% block why_choose %}
    {% include '/partials/landing-page/why-choose-section.html' %}
{% endblock %}

{% block we_help %}
    {% include '/partials/landing-page/we-help-section.html' %}
{% endblock %}

{% block popular_product %}
    {% include '/partials/landing-page/popular-product-section.html' %}
{% endblock %}

{% block testimonial %}
    {% include '/partials/landing-page/testimonial-section.html' %}
{% endblock %}

{% block blog %}
    {% include '/partials/landing-page/blog-section.html' %}
{% endblock %}

{% block footer %}
    {% include '/partials/landing-page/footer.html' %}
{% endblock %}